<%= render partial: "show_menu" %>

  <div class="ui relaxed divided list">
    <%= @list.tasks.each do |task| %>
      <div class="item">
      <i class="large hand point right middle aligned icon"></i>
      <div class="content">
        <%= link_to task.name, list_task_path(@list, task), class:"header" %>
        <div class="description"><%= task.description %></div>
      </div>
    </div>
    <%= link_to "Edit Task", edit_list_task_path(@list, task), class:"ui mini blue button"%>
    <%= link_to "Delete", list_task_path(@list,task), method: :delete, class:"ui mini red button"%>
    <% end %>
  </div>

