<%= form_with(model:[@list, @task], local:true, class:"ui form") do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus:true, required:true, placeholder:"Gather Resources..."%>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, required:true, placeholder:"Harvest Vespene Gas."%>
  </div>
  <div class="field">
    <%= f.label :due %>
    <%= f.date_field :due, required:true %>
  </div>
  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :tags %>
  </div>
  <%= f.submit "Save" %>
<% end %>
